body{
  background-color:black;
}
.inputs{
  font-family:Arial, Helvetica, sans-serif;
  
}

input{
 appearance: none;
 width: 25%;
 border-radius: 12px;
 height: 30px;
 cursor: pointer;
 outline: none;
 opacity: 1;
}
input:hover{
  opacity: 0.8;
}
.range1::-webkit-slider-thumb{
  background-color: red;
  width: 12px;
  height: 12px;
}
h4{
  color: azure;
}
h3{
  opacity: 0.7;
  max-width: max-content;
  max-height: max-content;
  
}
h3:hover{
  opacity: 1;
  cursor: pointer;
}
.red{
color:red;

} 
.green{
color:green;
}
.blue{
color:aqua;
text-align: center;
}
.square3, .square2, .square1{
  width: 63px;
  height: 55px;
  border: 2px solid red;
  border-radius: 10px;
  padding: 5px;
}



